h1 {
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
}

#container {
    justify-content: center;
    border: 0px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: palegreen;
}

#grid-window {
    justify-content: center;
    width: 1000px;
    height: 1000px;
}

#newPad {
    align-self: center;
    margin-bottom: 10px;
}