div {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: 100%;
}

.container {
    width: 500px;
    height: 500px;
    border: 1px;
}

.cube {
    border-style: solid;
    height: auto;
    min-height: 100%;
}

body {
    margin: 0;
}