h1 {
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 500px;
    height: 500px;
    border: 10px;
    border-color: blue;
}

.cube {
    border-style: solid;
    height: auto;
    min-height: 100%;
}

body {
    margin: 0;
}